.bookmark{
  background-color: $primaryColor;
  width: 100%;
  text-transform: uppercase;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-weight: bold;
  font-family: $headerFont;
  color: white;
  text-align: center;
}

.ogloszenie{
  background-color: $secondaryColor;//rgba(242,229,210, 0.6);
  .col-md-2{
    padding-left: 0px;
  }
}
