.contentImage{
  width: 100%;
  height: 200px;
}

.conentTag{
  &::before{
    content: " ";
    border-left: 3px solid;
    border-color: $secondaryColor;
    margin-right: 5px;
  }
  text-transform: uppercase;
  font-size: 0.8rem;
}

.contentLinkBlock{
  position: relative;
  //padding-left: 15px;
}

.contentLink{
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  &:hover{
    //margin-left: 15px;
  //  background-image: linear-gradient(transparent,rgba(0,152,155,0.4));
    background-image: linear-gradient(transparent,rgba(212,216,216,0.4));
  }
}

.additionalHeader{
  background-color: $primaryColor;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

a.additionalHeader{
  display: block;
}

.h3.additionalHeader{
  margin: 0px;
  //margin-left: 15px;
  font-family: $headerFont;
  font-size: 1.25rem;
}

.additionalContent{
  position: relative;
  //margin-left: 15px;
  .contentLink{
    //margin-left: 0px;
  }
}

.additionalContentImage{
  height: 200px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.row.content{
  margin-bottom: 40px;
}

p.added{
  color: $light;
}
