footer.stopka{
  background-color: $primaryColor;
  color: white;
  .infoBlock{
    padding-top: 20px;
    font-size: 14px;
    h4{
      font-size: 26px;
      font-family: $headerFont;
      padding-bottom: 10px;
    }
    .contact-form{
      .slim-margin-left{
        padding-left: 5px;
      }
      .slim-margin-right{
        padding-right: 5px;
      }
      .cform{
        border:0;
        margin-bottom: 10px;
        border-radius: 0;
      }
      .cform-slim{
        height: 30px;
      }
      .send-button{
        background-color: $silver;
        color: $primaryColor;
      }
    }
    ul.site-map{
      padding-left: 20px;
      list-style: none;

      columns:2;
      -webkit-columns: 2;
      -moz-columns: 2;
      li{
        position:relative;
        //padding-bottom: px;
        &:before{
          position: absolute;
          left: -20px;
          content: '\f101';
          font-family: FontAwesome;
          padding-right: 5px;

        }
        a{
          color: white;
          &:hover{
            color: $light;
          }
        }
      }
    }
    table.contact-table{

      tr{
        td{
          padding-bottom: 15px;
        }
        td:first-child{
          width: 30px;
          vertical-align: top;
        }
      }
    }
  }
  .realizacja{
    color: white;
    text-align: center;
    font-family: $paragraphFont;
    font-size: 16px;
    padding:20px;
    a.firma{
      font-family: $paragraphFont;
      color:$silver;
      &:hover{
        color:$light;
      }
    }
  }
}