.mainInfo{
  background-color: $secondaryColor;
  color: #f2e5d2;//$silver;
  text-align: center;
  padding-bottom: 30px;
  margin-top: 0px;
  margin-bottom: 40px;
  a{
    display: block;
    color: #f2e5d2;
  }
  &{
    .h3{
      font-size: 1.5rem;
      font-style: $paragraphFont;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
