.mptList{
  img{
    width:100%;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h1{
    font-size: 48px;
    text-transform: capitalize;
  }
  a.h2{
    display: block;
  }
  p{
    a{
      font-size: 15px;
      margin-top: 20px;
      display: inline-block;
    }
    .pStyle{
      font-size: 15px;
      font-family: $paragraphFont;
    }
  }
  hr#first{
    margin-top: 20px;
  }
  .mptObject{
    position: relative;
    a{
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      &:hover{
        background-image: linear-gradient(transparent,rgba(212,216,216,0.4));
      }
    }
  }
  .mptNewsList{
    h3{
        font-size: 2rem;
        margin-bottom: 30px;
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li {
    //padding-left: 15px;
    margin-bottom: 10px;
    }
  }
  hr{
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
