.navBarStyle{
  background-color: $primaryColor;
}

.navbar-default .navbar-nav>li>a {
  color: $light;//#f1f1f1;
  text-align: center;
  font-family: $headerFont;
  font-family: 'Taviraj', serif;
  font-weight: 500;
  color: white;
  text-align: center;
  font-size: 13px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: $hoverColor;
}

.navbar-default .navbar-collapse{
  border: none;
}

.navbar{
  margin-bottom: 0px;
}

.nav>li>a{
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 30px;
}
