.news{
  h2{
    padding-bottom: 10px;
    margin-top: 0px;
    font-size: 2.5rem;
  }
  .h3{
    font-size: 1.25rem;
    font-family: $paragraphFont;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: $primaryColor;
    &:hover{
      color: $turkus;
    }
  }
  a{
    display: block;
    color:$primaryColor;
  }
  hr{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-color: $silver;
  }
}
