.mainImage{
  height: 400px;
  width: 100%;
}

.sliderAndNews{
  &{
    .col-md-8{
      margin-left: 0px;
      padding-left: 0px;
    }
  }
}

.mainArticelLink{
  font-size: $fontSizeBase;
  position: relative;
}

.mainArticeContent{
  position: absolute;
  bottom: -1px;
  padding-bottom: 10px;
  padding:5% 2rem 2rem 5rem;
  width: 100%;
  background-image: linear-gradient(transparent,rgba(0,55,95,0.6));
  background-image: linear-gradient(transparent,rgba(0,0,0,0.7));
}

.mainArticleTag{
  &::before{
    content: " ";
    border-left: 3px solid;
    border-color: $secondaryColor;
    margin-right: 5px;
    //border-left-width: 0.15rem;
    //display: inline-block;
  }
  text-transform: uppercase;
  color:white;
}

.mainArticleTitle{
  color: white;
  font-size: 2.5rem;
}

.mainArticleContentText{
  color: #d3d3d3;
  font-size: 1.25rem;
}

a.blokLink{
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  &:hover{
    background-image: linear-gradient(transparent,rgba(0,152,155,0.4));
    background-image: linear-gradient(transparent,rgba(212,216,216,0.2));
  }
}

.carousel-indicators {
  bottom: 0;
}

.carousel-control{
  width: 5%;
}
.carousel-control.left{
  background-image: none;
}
.carousel-control.right{
  background-image: none;
}
@media screen and (min-width: 768px){
  .carousel-indicators {
    bottom: 0;
  }
}
