$paragraphFont: 'Karla', sans-serif;
$headerFont: 'Lato', sans-serif;
$fontSizeBase: 14px;
$fontSizeGreat: 32px;
$paragraphFontColor: #696969;
/*
$primaryColor: #00375f;//#2c2c2c;
$secondaryColor: #ce1d53;//#cd2122;
$silver: #d4d8d8;
$turkus: #00989b;
$hoverColor: #00989b;
*/
/*
$primaryColor: #01395e;//#2c2c2c;
$secondaryColor: #8b0e3a;//#cd2122;
$silver: #929292;
$silver: #d4d8d8;
$turkus: #00989b;
$hoverColor: #00989b;
$light: #f2e5d2;
*/

$primaryColor: #3a3a3a;//#2c2c2c;
$secondaryColor: #670000;// #915d11;//#cd2122;
$silver: #e8dbc8;
$turkus: #00989b;
$hoverColor: #00989b;
$light: #f4c1b0;


//00989b turkus
//d4d8d8 silver
