.test{
  background-color: red;
}
@import "variables";
@import "navbar";
@import "mainInfo";
html{
  font-size: 14px;
}
a{
  //display: block;
  color: $secondaryColor;
}

a:hover{
  color:$hoverColor;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3{
  font-family: $headerFont;
  color:$primaryColor;
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 1.25rem;
}

p{
  font-family: $paragraphFont;
  font-size: $fontSizeBase;
}

.sliderAndNews{
  background-color: rgba(242,229,210, 0.6);//$light;
  background-color: rgba(212,216,216, 0.3);
  //background-color: $silver;
  padding-top: 40px;
  padding-bottom: 40px;
}

@import "slider";
@import "news";
@import "content";
@import "form";
@import "bookmark";
@import "mpt";
@import "footer";


.winieta{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8d8d8+0,ffffff+49,ffffff+50,ffffff+51,d8d8d8+100 */
//background: #d8d8d8; /* Old browsers */
//background: -moz-radial-gradient(center, ellipse cover, #d8d8d8 0%, #ffffff 49%, #ffffff 50%, #ffffff 51%, #d8d8d8 100%); /* FF3.6-15 */
//background: -webkit-radial-gradient(center, ellipse cover, #d8d8d8 0%,#ffffff 49%,#ffffff 50%,#ffffff 51%,#d8d8d8 100%); /* Chrome10-25,Safari5.1-6 */
//background: radial-gradient(ellipse at center, #d8d8d8 0%,#ffffff 49%,#ffffff 50%,#ffffff 51%,#d8d8d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#d8d8d8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
padding-top: 40px;
padding-bottom: 40px;
}
