include mixins/content
.container
  .row.content
    +MptArticle()
    .col-md-4
      a.added.h3.additionalHeader(href='#') książki
      .additionalContent
        img.additionalContentImage(src='images/brewiarz.jpg' alt='image')
        h3 Brewiarz historyczny
        p At vero eos et accusamus et iusto odio dignissimos
        a.contentLink(href='#')
  .row.content
    +MptArticle()
    .col-md-4
      a.added.h3.additionalHeader(href='#') monarchie
      +monarchySlider()
        
include form.jade
.container
  for i in Array(2)
    .row.content
      +MptArticle()
      .col-md-4
        a.added.h3.additionalHeader(href='#') książki
        .additionalContent
          img.additionalContentImage(src='images/brewiarz.jpg' alt='image')
          h3 Brewiarz historyczny
          p At vero eos et accusamus et iusto odio dignissimos
          a.contentLink(href='#')
