footer.container-fluid.stopka
    .container
        .row.infoBlock
            .col-md-4
                h4 Kontakt
                table.contact-table
                    tr
                        td
                            i.fa.fa-envelope-o
                        td
                            | biuro@monarchia.info.pl
                            br
                            | biuro@katoliccy.eu
                            br
                            | biuro@korona.org.pl
                    tr
                        td
                            i.fa.fa-phone
                        td (+48) 600 98 12 65
                    tr
                        td
                            i.fa.fa-facebook-square
                        td /monarchiainfopl-234972413370240
            .col-md-4
                h4 Mapa strony
                ul.site-map
                    li
                        a(href='#') Strona główna
                    li
                        a(href='#') Wydarzenia
                    li
                        a(href='#') Artykuły
                    li
                        a(href='#') Monarchistyczny przegląd tygodnia
                    li
                        a(href='#') Rody historyczne
                    li
                        a(href='#') Monarchiści
                    li
                        a(href='#') Książki
                    li
                        a(href='#') Wybory
                    li
                        a(href='#') Kontakt


            .col-md-4
                h4 Pozostaw odpowiedź
                .row.contact-form
                    .col-md-6.slim-margin-right
                        input.cform.cform-slim.form-control(type='text', placeholder="Adres email")
                    .col-md-6.slim-margin-left
                        input.cform.cform-slim.form-control(type='text', placeholder="Imie i Nazwisko")
                    .col-md-12
                        textarea.cform.form-control(placeholder="Wiadomość")
                    .col-md-6.col-md-offset-6.slim-margin-left
                        button.cform.cform-slim.btn.btn-primary.btn-block.send-button Wyślij


        .row
            .col-xs-12.realizacja
                | Realizacja&nbsp;
                a.firma(href="codecat.pl") CodecCat
                | &nbsp2016