.container-fluid.formFluid
  .container
    .row
      .col-md-2
        p.bookmark Ankieta
    .row.content
      h2 Rody historyczne
      h3 Który ze znanych Pani/u rodów mógłby zasiadać na tronie Polski?
      .col-md-4
        ul
          li Burbonowie
          li Czartoryscy
          li Czetwertyńscy
          li Habsburgowie
      .col-md-4
        ul
          li Lubomirscy
          li Poniatowscy
          li Radziwiłłowie
          li Sasowie
      .col-md-4
        ul
          li Sapiechowie
          li Zamoyscy
          li inni
          p Wyniki
