doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,700,300', type='text/css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Karla')
        link( href="https://fonts.googleapis.com/css?family=Taviraj:200,300,400,500,600,700,800,900&subset=latin-ext" rel="stylesheet")
        link(rel='stylesheet', href='/css/style.css')

        script(src="/components/jquery/dist/jquery.min.js")
        script(src="/components/list.js/dist/list.min.js")
        title monarchia.info.pl
    body
        .container-fluid.winieta
          .container
            img(src='images/winieta.png' style="height:300px; display: block; margin-left: auto; margin-right: auto")
        include navbar.jade
        .content-wrapper 
            block content
        include footer.jade
        script(src="/components/bootstrap/dist/js/bootstrap.min.js")
