.container-fluid.ogloszenie
  .container
    .col-md-2
      p.bookmark OGŁOSZENIE
.container-fluid.mainInfo
  .container
    a.h3 Spotkanie z Adamem Bilińskim – „Sukcesja tronu polskiego — nowe spojrzenie”
