extends layout

block content
  .container.mptList
    .row
      p
        a(href='#') 
          i.fa.fa-home.pStyle(aria-hidden='true') Home/
        a.pStyle(href='#') Monarchistyczny przeglad tygodnia
      hr#first
    h1 Monarchistyczny Przeglad Tygodnia
    .row
      .col-md-8
        for i in Array(10)
          a.h2 Lorem ipsum
          p.added 
            i.fa.fa-clock-o 12.12.2012
          .row.mptObject
            img(src='images/albert.jpg')
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
            a.mptLink(href='#')
          .row
            .col-md-3.text-center
              i.fa.fa-comment(aria-hidden='true')
            .col-md-3.text-center
              i.fa.fa-twitter-square(aria-hidden='true')
            .col-md-3.text-center
              i.fa.fa-facebook-square(aria-hidden='true')
            .col-md-3.text-center
              i.fa.fa-google-plus-square(aria-hidden='true')
          .row
            hr
      .col-md-1
      .col-md-3.mptNewsList
        h3 Najnowsze
        ul
          for i in Array(10)
            li 
              a(href='/#') &rarr;&ensp;	Nowakowski: Monarchia, a hierarchia
        //      a(href='/#') Monarchiczny Przegląd Tygodnia #21/2016
