nav.navbar.navbar-default.navBarStyle
  .container-fluid
    .container
      .navbar-header
        button(type="button" class=['navbar-toggle'] data-toggle="collapse" data-target="#myNavbar")
          for i in Array(3)
            span(class="icon-bar")
        a.navbar-brand(href='/')
          img.band(src='/images/logoCrown.png', alt='logo', style='height:30px;')
      .collapse.navbar-collapse.text-center#myNavbar
        ul.nav.navbar-nav.text-center
          li
            a(href='#') WYDARZENIA
          li
            a(href='#') ARTYKUŁY
          li
            a(href='/mpt') MONARCHISTYCZNY PRZEGLĄD TYGODNIA
          li
            a(href='#') RODY HISTORYCZNE
          li
            a(href='#') MONARCHIŚCI
          li
            a(href='#') KSIĄŻKI
          li
            a(href='#') WYBORY
          li
            a(href='#') KONTAKT
