.test {
  background-color: red; }

/*
$primaryColor: #00375f;//#2c2c2c;
$secondaryColor: #ce1d53;//#cd2122;
$silver: #d4d8d8;
$turkus: #00989b;
$hoverColor: #00989b;
*/
/*
$primaryColor: #01395e;//#2c2c2c;
$secondaryColor: #8b0e3a;//#cd2122;
$silver: #929292;
$silver: #d4d8d8;
$turkus: #00989b;
$hoverColor: #00989b;
$light: #f2e5d2;
*/
.navBarStyle {
  background-color: #3a3a3a; }

.navbar-default .navbar-nav > li > a {
  color: #f4c1b0;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-family: 'Taviraj', serif;
  font-weight: 500;
  color: white;
  text-align: center;
  font-size: 13px; }

.navbar-default .navbar-nav > li > a:hover {
  color: #00989b; }

.navbar-default .navbar-collapse {
  border: none; }

.navbar {
  margin-bottom: 0px; }

.nav > li > a {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 30px; }

.mainInfo {
  background-color: #670000;
  color: #f2e5d2;
  text-align: center;
  padding-bottom: 30px;
  margin-top: 0px;
  margin-bottom: 40px; }
  .mainInfo a {
    display: block;
    color: #f2e5d2; }
  .mainInfo .h3 {
    font-size: 1.5rem;
    font-style: "Karla", sans-serif;
    text-transform: uppercase;
    text-align: center; }

html {
  font-size: 14px; }

a {
  color: #670000; }

a:hover {
  color: #00989b;
  text-decoration: none;
  cursor: pointer; }

h1, h2, h3 {
  font-family: "Lato", sans-serif;
  color: #3a3a3a; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 1.25rem; }

p {
  font-family: "Karla", sans-serif;
  font-size: 14px; }

.sliderAndNews {
  background-color: rgba(242, 229, 210, 0.6);
  background-color: rgba(212, 216, 216, 0.3);
  padding-top: 40px;
  padding-bottom: 40px; }

.mainImage {
  height: 400px;
  width: 100%; }

.sliderAndNews .col-md-8 {
  margin-left: 0px;
  padding-left: 0px; }

.mainArticelLink {
  font-size: 14px;
  position: relative; }

.mainArticeContent {
  position: absolute;
  bottom: -1px;
  padding-bottom: 10px;
  padding: 5% 2rem 2rem 5rem;
  width: 100%;
  background-image: linear-gradient(transparent, rgba(0, 55, 95, 0.6));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7)); }

.mainArticleTag {
  text-transform: uppercase;
  color: white; }
  .mainArticleTag::before {
    content: " ";
    border-left: 3px solid;
    border-color: #670000;
    margin-right: 5px; }

.mainArticleTitle {
  color: white;
  font-size: 2.5rem; }

.mainArticleContentText {
  color: #d3d3d3;
  font-size: 1.25rem; }

a.blokLink {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }
  a.blokLink:hover {
    background-image: linear-gradient(transparent, rgba(0, 152, 155, 0.4));
    background-image: linear-gradient(transparent, rgba(212, 216, 216, 0.2)); }

.carousel-indicators {
  bottom: 0; }

.carousel-control {
  width: 5%; }

.carousel-control.left {
  background-image: none; }

.carousel-control.right {
  background-image: none; }

@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: 0; } }

.news h2 {
  padding-bottom: 10px;
  margin-top: 0px;
  font-size: 2.5rem; }

.news .h3 {
  font-size: 1.25rem;
  font-family: "Karla", sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #3a3a3a; }
  .news .h3:hover {
    color: #00989b; }

.news a {
  display: block;
  color: #3a3a3a; }

.news hr {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  border-color: #e8dbc8; }

.contentImage {
  width: 100%;
  height: 200px; }

.conentTag {
  text-transform: uppercase;
  font-size: 0.8rem; }
  .conentTag::before {
    content: " ";
    border-left: 3px solid;
    border-color: #670000;
    margin-right: 5px; }

.contentLinkBlock {
  position: relative; }

.contentLink {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }
  .contentLink:hover {
    background-image: linear-gradient(transparent, rgba(212, 216, 216, 0.4)); }

.additionalHeader {
  background-color: #3a3a3a;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; }

a.additionalHeader {
  display: block; }

.h3.additionalHeader {
  margin: 0px;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem; }

.additionalContent {
  position: relative; }

.additionalContentImage {
  height: 200px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.row.content {
  margin-bottom: 40px; }

p.added {
  color: #f4c1b0; }

.formFluid {
  background-color: #e8dbc8;
  margin-bottom: 40px; }
  .formFluid .content {
    margin-bottom: 20px; }

.bookmark {
  background-color: #3a3a3a;
  width: 100%;
  text-transform: uppercase;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  color: white;
  text-align: center; }

.ogloszenie {
  background-color: #670000; }
  .ogloszenie .col-md-2 {
    padding-left: 0px; }

.mptList img {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px; }

.mptList h1 {
  font-size: 48px;
  text-transform: capitalize; }

.mptList a.h2 {
  display: block; }

.mptList p a {
  font-size: 15px;
  margin-top: 20px;
  display: inline-block; }

.mptList p .pStyle {
  font-size: 15px;
  font-family: "Karla", sans-serif; }

.mptList hr#first {
  margin-top: 20px; }

.mptList .mptObject {
  position: relative; }
  .mptList .mptObject a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .mptList .mptObject a:hover {
      background-image: linear-gradient(transparent, rgba(212, 216, 216, 0.4)); }

.mptList .mptNewsList h3 {
  font-size: 2rem;
  margin-bottom: 30px; }

.mptList .mptNewsList ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.mptList .mptNewsList li {
  margin-bottom: 10px; }

.mptList hr {
  margin-top: 40px;
  margin-bottom: 20px; }

footer.stopka {
  background-color: #3a3a3a;
  color: white; }
  footer.stopka .infoBlock {
    padding-top: 20px;
    font-size: 14px; }
    footer.stopka .infoBlock h4 {
      font-size: 26px;
      font-family: "Lato", sans-serif;
      padding-bottom: 10px; }
    footer.stopka .infoBlock .contact-form .slim-margin-left {
      padding-left: 5px; }
    footer.stopka .infoBlock .contact-form .slim-margin-right {
      padding-right: 5px; }
    footer.stopka .infoBlock .contact-form .cform {
      border: 0;
      margin-bottom: 10px;
      border-radius: 0; }
    footer.stopka .infoBlock .contact-form .cform-slim {
      height: 30px; }
    footer.stopka .infoBlock .contact-form .send-button {
      background-color: #e8dbc8;
      color: #3a3a3a; }
    footer.stopka .infoBlock ul.site-map {
      padding-left: 20px;
      list-style: none;
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2; }
      footer.stopka .infoBlock ul.site-map li {
        position: relative; }
        footer.stopka .infoBlock ul.site-map li:before {
          position: absolute;
          left: -20px;
          content: '\f101';
          font-family: FontAwesome;
          padding-right: 5px; }
        footer.stopka .infoBlock ul.site-map li a {
          color: white; }
          footer.stopka .infoBlock ul.site-map li a:hover {
            color: #f4c1b0; }
    footer.stopka .infoBlock table.contact-table tr td {
      padding-bottom: 15px; }
    footer.stopka .infoBlock table.contact-table tr td:first-child {
      width: 30px;
      vertical-align: top; }
  footer.stopka .realizacja {
    color: white;
    text-align: center;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    padding: 20px; }
    footer.stopka .realizacja a.firma {
      font-family: "Karla", sans-serif;
      color: #e8dbc8; }
      footer.stopka .realizacja a.firma:hover {
        color: #f4c1b0; }

.winieta {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8d8d8+0,ffffff+49,ffffff+50,ffffff+51,d8d8d8+100 */
  padding-top: 40px;
  padding-bottom: 40px; }
