doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        title Imfoloko - 408 error
    body
        | Błąd. Zbyt wolne łącze lub brak internetu. Skontaktuj się z administratorem.



