mixin MptArticle()
  .col-md-4
    .contentLinkBlock
      img.contentImage(src='images/alina.jpg')
      h1 Lorem ipsum
      p.conentTag Monarchiczny przegląd tygodnia 
      p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
      a.contentLink(href='')
    p.added.text-right
      i.fa.fa-clock-o 12.12.2012
  .col-md-4
    .contentLinkBlock
      img.contentImage(src='images/albert.jpg')
      h1 Lorem ipsum
      p.conentTag Artykuły
      p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
      a.contentLink(href='')
    p.added.text-right
      i.fa.fa-clock-o 12.12.2012

mixin monarchySlider()
  .carousel.slide#monarchySlider(data-ride="carousel")
    ol.carousel-indicators
      li.active(data-target='#monarchySlider' data-slide-to='0')
      li(data-target='#monarchySlider' data-slide-to='1')
      li(data-target='#monarchySlider' data-slide-to='2')
    .carousel-inner(role='listbox')
      .item.active
        .mainArticelLink
          .mainArticeContent
            h2.mainArticleTitle Lorem ipsum
            p.mainArticleContentText Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            p.mainArticleTag(href='#') Monarchiczny przegląd tygodnia 
          .mainArticeImage
            img.mainImage(src='images/SouthernLawn.jpg' alt='image')
          a.blokLink(href='#')
      .item
        .mainArticelLink
          .mainArticeContent
            p.mainArticleTag Monarchiczny przegląd tygodnia 
            h2.mainArticleTitle Lorem ipsum
            p.mainArticleContentText Sed ut perspiciatis unde omnis iste natus error sit. Sed ut perspiciatis unde omnis iste natus error sit
          .mainArticeImage
            img.mainImage(src='images/alina.jpg' alt='image')
          a.blokLink(href='#')
      .item
        .mainArticelLink
          .mainArticeContent
            h2.mainArticleTitle Lorem ipsum
            p.mainArticleTag(href='#') Monarchiczny przegląd tygodnia 
            p.mainArticleContentText Lorem ipsum bla bla bla
          .mainArticeImage
            img.mainImage(src='images/albert.jpg' alt='image')
          a.blokLink(href='#')
    .left.carousel-control(href='#monarchySlider' role='button' data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Poprzedni
    .right.carousel-control(href='#monarchySlider' role='button' data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Następny
